.error {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.img {
    display: flex;
    justify-content: center;
}
.img img {
    width: 50%;
    margin: auto;
}
.back {
    padding: 10px 20px;
    background-color: #31b675;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
    width: fit-content;
    margin: 15px auto;
}
.back:hover {
    background-color: rgb(5, 5, 5);
}
@media screen and (max-width: 550px) {
    .img img {
        width: 100%;
    }
    .back {
        padding: 5px 10px;
        font-weight: 200;
        font-size: 14px;
    }
}